/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 6rem;
  background-color: #8e1d41;
}

.container-height {
  height: 100vh;
}

/* Style for header */

.navbar-container {
  background: rgba(255, 2555, 255, 0.4);
  border: none;
}

[alt="user"] {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.button-burger {
  margin-left: 1rem;
}

.navbar-logo {
  padding: 10.5px 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 700;
}

/* Style for home */

#images-cover-page {
  position: relative;
}

.sobre-text {
  position: absolute;
  top: 15rem;
  right: 0px;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.portada {
background-image: url(../assets/images/portada.png);
background-size: 100vw 100vh;
background-repeat: no-repeat;
background-position: center center;
height: 100vh; 
z-index: -1;
}

.text {
  font-size: 2rem;
}

/* Style for about */

.container-about-me {
  margin-bottom: 4rem;
}

[alt="profile"] {
  width: 25rem;
  height: 25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 100%;
}

.text-about {
  color: #fff;
  text-align: justify;
}

.download-button {
  background: none;
  border: 1px solid #fff;
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 1rem; 
}

.margin {
  margin-bottom: 2rem;
}

/* Stylle for skills */

.container-white {
  margin-top: 6.5rem;
}

.title-skills {
  margin-bottom: 5.5rem;
  color: #ffc107;
  text-align: center;
}

.container-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.bar-progress {
  margin-bottom: 0;
}

[alt="firebase-logo"] {
  width: 7rem;
}

.container-skills {
  margin-bottom: 2rem;
}

.container-a {
  margin-top: 1.5rem;
  color: #8e1d41;
}

/* Style for portfolio */

.container-portfolio {
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.images-portfolio {
  border-radius: 100%;
  width: 25rem;
  height: 25rem;
}

/* Style for contact */

.container-contact {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.title-contact {
  margin-bottom: 2.5rem;
  color: #ffc107;
  text-align: center;
}

.text-contact {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.container-form {
  border: 1px solid #ffc107; 
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

/* Styles for footer */

.container-footer {
  width: 100%;
  background-color: #8e1d41; 
}

.icons-white {
  display: inline-block;
  border-radius: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 10px;
}

.icons-white span {
  color: #fff;
  padding-left: 10px;
}

.icons-white span:hover {
  color: #000;
  cursor: pointer;
}

hr {
  width: 50%;
  height: 1px;
  background-color: #ffcd19;
  border: none;
  margin: 0;
}

.span {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Style for media query */

@media (min-width:768px) {
  .portada {
    background-image: url(../assets/images/portada.png);
  }
}

@media (min-width:955px) {
  /* Home */

  .portada {
    background-image: url(../assets/images/portada.png);
  }

  .name {
    font-size: 7rem;
  }

  /* Style for about */

  .container-about-me {
    margin-bottom: 8rem;
  }

  /* Style for portfolio */

  .images-portfolio {
    border-radius: 100%;
    width: 25rem;
    height: 25rem;
  }
}

@media (min-width:1000px) {
  /* Style dor About */

  .text-about {
    font-size: 2rem;
  }

  .title-skills {
    font-size: 8rem;
  }

  [alt="profile"] {
    width: 35rem;
    height: 35rem;
  }

  .container-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Style for portfolio */

  .container-portfolio {
    margin-left: 7rem;
    margin-bottom: 7rem;
  }

  .images-portfolio {
    border-radius: 100%;
    width: 30rem;
    height: 30rem;
  }
}