/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.container {
  padding-top: 4rem;
  background-color: #435b29;
}

/* Style for header */

.navbar-container {
  background: rgba(255, 2555, 255, 0.4);
  border: none;
}

[alt="user"] {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.button-burger {
  margin-left: 1rem;
}

.navbar-logo {
  padding: 10.5px 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 700;
}

/* Style for home */

#images-cover-page {
  position: relative;
}

.sobre {
 position:absolute;
 top:34rem;
 right:0px;
}

.sobre-text {
  position: absolute;
  top: 15rem;
  right: 0px;
  text-align: center;
  font-size: 3rem;
  color: #fff;
 }

.sobre-coffe {
  position: absolute;
  top: 40rem;
  left: 0px;
}

.sobre-diary {
  position: absolute;
  top: 40rem;
  left: 20rem;
}

.sobre-headphones{
  position: absolute;
  top: 40rem;
  left: 10rem;
}

.portada {
background-image: url(../assets/images/portada.png);
background-size: 100vw 100vh;
background-repeat: no-repeat;
background-position: center center;
height: 100vh; 
z-index: -1;
}

[alt="laptop"] {
  z-index: 1000;
  width: 36rem;
}

[alt="coffee"] {
  z-index: 1000;
  width: 20rem;
}

[alt="diary"] {
  z-index: 1000;
  width: 20rem;
}

[alt="headphones"] {
  z-index: 1000;
  width: 20rem;
}

.text {
  font-size: 2rem;
}

/* Style for about */

.container-about-me {
  margin-bottom: 4rem;
  border: 1px solid #ffc111;
}

[alt="profile"] {
  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 100%;
}

.text-about {
  color: #fff;
  text-align: justify;
}

.download-button {
  background: none;
  border: 1px solid #fff;
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 1rem; 
}

.margin {
  margin-bottom: 2rem;
}

/* Stylle for skills */

.container-white {
  margin-top: 4rem;
}

.title-skills {
  margin-bottom: 2.5rem;
  color: #ffc107;
  text-align: center;
}

.container-skill {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.bar-progress {
  margin-bottom: 0;
}

[alt="firebase-logo"] {
  width: 2.5rem;
}

.container-skills {
  margin-bottom: 2rem;
}

/* Style for portfolio */

.container-portfolio {
  border: 1px solid #ffc107;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
}
.images-portfolio {
  width: 100%
}

/* Style for Media Query */

@media (min-width:955px) {
  /* Global */

  .container {
    padding-top: 8rem;
  }

  /* Style for about */

  .container-about-me {
    margin-bottom: 8rem;
  }

  /* Stylle for skills */

  #skills-cover-page {
    position: relative;
  }
  
  .sobre-title-skills {
    width: 100%;
    position:absolute;
    top:10rem;
    z-index: -1;
  }

  .sobre-skills {
    width: 100%;
    position:absolute;
    top:20rem;
    z-index: -1;
  }
  
  [alt="portada-skills"] {
    width: 95rem;
    height: 90vh;
    z-index: 1000;
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* Style for portfolio */

  .container-portfolio {
    margin-left: 6rem;
    margin-bottom: 6rem;
  }
}

@media (min-width:1200px) {
  .sobre-title-skills {
    top:6rem;
  }

  .sobre-skills {
    top:14rem;
  }

  [alt="portada-skills"] {
    width: 95rem;
    height: 75vh;
  }

  /* Style for portfolio */

  .container-portfolio {
    margin-left: 7rem;
    margin-bottom: 7rem;
  }
}

@media (min-width:1440px) {
  [alt="portada-skills"] {
    width: 130rem;
    height: 80vh;
  }
}

@media (min-width:1990px) {
  [alt="portada-skills"] {
    width: 200rem;
    height: 65vh;
  }
}